---
import ComponentPreview from "./ComponentPreview.astro";
---

<section
  class="flex flex-col items-center flex-grow min-h-screen gap-4 p-8 bg-gradient-to-tr from-slate-950 to-slate-900 text-gray-50"
>
  <ComponentPreview />
  <ComponentPreview />
  <ComponentPreview />
  <ComponentPreview />
</section>
