<button
  class="relative flex border-2 border-slate-50/10 rounded-md before:absolute before:rounded-lg before:bg-gradient-to-tr before:from-slate-50/10 before:via-slate-50/10 before:to-slate-50/70 before:-inset-[2px] before:opacity-0 hover:before:opacity-100 before:transition-all before:duration-500"
>
  <span
    class="z-0 px-6 py-3 rounded-md bg-gradient-to-t from-slate-900 to-slate-800"
  >
    Spotlight button
  </span>
</button>
